header {
    background: #0B6DA6;
    position: sticky;

    .logo {
        font-weight: bold;
        font-family: 'Avenir Next';
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;
                    font-family: 'Avenir Next';

                    &:hover {
                        background: #0B7DA7;
                    }
                }
            }
        }
    }
}